<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename. 
    -->
    <target xsi:type="File" name="core_log_file" fileName="${basedir}/logs/${shortdate}/core.log"
      layout="${longdate} ${logger}[${threadid}] ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="exchange_log_file" fileName="${basedir}/logs/${shortdate}/exchange.log"
      layout="${longdate} ${logger}[${threadid}] ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="client_log_file" fileName="${basedir}/logs/${shortdate}/client.log"
            layout="${longdate} ${logger}[${threadid}] ${uppercase:${level}} ${message}" />
          <target xsi:type="File" name="strategy_log_file"
            fileName="${basedir}/logs/${shortdate}/strategy.log"
            archiveFileName="${basedir}/logs/${shortdate}/strategy.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Minute"
            archiveDateFormat="HH时mm分"
            layout="${longdate} ${logger}[${threadid}] ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="Core.*" minlevel="Trace" writeTo="core_log_file" />
    <logger name="Exchanges.*" minlevel="Trace" writeTo="exchange_log_file" />
    <logger name="TradingClient.*" minlevel="Trace" writeTo="client_log_file" />
    <logger name="strategy" minlevel="Trace" writeTo="strategy_log_file" />
  </rules>
</nlog>
